@import '../../styles/index';



.sliderContainer {
  display: flex;
  flex-direction: column;
  gap: $spacing-7;
  margin-top: $spacing-3;
  margin-bottom: $spacing-10;

  h4 {
    font-weight: 500;
    color: $grey-800;
    align-self: center;
  }
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  
  .sliderTrack {
    height: 0.7rem;
    border-radius: 0.2rem;
    background-color: $grey-200;
    transition: 0.1s ease-in;
  }

  > :first-child {
    background-color: $blue-600;
    transition: 0.1s ease-in;
  }

  .sliderThumb {
    width: 1.5rem;
    height: 1.5rem;
    background-color: $blue-500;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s ease-in;
    border-radius: 0.2rem;
    outline: none;

    &:hover {
      background-color: $blue-600;
    }
  }

  .sliderThumbActive {
    background-color: $blue-600;
    outline: none;
  }
}

.thumbContainer {
  position: relative;
  width: 4rem;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  z-index: 0 !important;
  width: fit-content;
  transition: 0.1s ease-in;

  .sliderStateContainer {
    position: absolute;
    top: 2.1rem;
    background-color: $grey-800;
    color: white;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    padding: $spacing-1 $spacing-2;
    border-radius: 0.4rem;
    z-index: 1;
  }
}

.label {
  font-size: 0.9rem;
  font-weight: 600;
  color: $grey-700;
  margin-bottom: $spacing-7;
}
