@import '../../styles/index';



.ContractorCard {
    background-color: white;
    padding: $spacing-4 $spacing-6;
    border-radius: 0.6rem;
    border: solid 1px $grey-200;
    // box-shadow: 0px 7px 4px rgba(75, 85, 101, 0.02), 0px 3px 3px rgba(75, 85, 101, 0.03), 0px 1px 2px rgba(75, 85, 101, 0.03), 0px 0px 0px rgba(75, 85, 101, 0.03);
    display: flex;
    flex-direction: column;
    gap: $spacing-3;
    
}

.info {
    display: flex;
    flex-direction: row;
    gap: $spacing-7;
    align-items: center;
}



.profileImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.25rem;
    height: 3.25rem;
    border: 1px solid $grey-300;
    border-radius: 0.6rem;
    background-color: $grey-50;

    .profileIcon {
        width: 1.1rem;
        height: auto;
    }

}

.buttonContainer {
    align-self: flex-end;
    width: fit-content;
    display: flex;
    gap: $spacing-4;
}

.header {
    font-weight: 500;
    color: $grey-800;
}

.subtitle {
    color: $grey-600;
}