:root {
  --background: #FCFBFF;
  --accent: #474BB5;
  --secondary: #E0DEFF;
  --bold-text: #181819;
  --normal-text: #545271;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
}

/* Nav */

.Logo {
  height: auto;
  width: 25%;
}