@import '../../styles/index';


.AppLayout {
    margin: 0 auto;
    padding: 0 $spacing-20;
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    min-height: 100dvh;
}

// .content {
//     display: flex;
//     flex-flow: column;
//     height: 100vh;
//     width: 100%;
//     flex-grow: 1;
// }

// .content {
//     display: grid;
//     grid-template-columns: repeat(12, 1fr);
//     gap: 30px; // This creates a gutter between columns
//     height: 100vh;
//     width: 100%;
// }

@media screen and (max-width: 1024px) {
    .AppLayout {
        padding: 0 $spacing-5;
    }
}