@import "../Property.module.scss";

.DetailsTab {
  display: flex;
  flex-direction: column;
  gap: $spacing-6;
}

.attachmentsSection {
  display: flex;
  flex-direction: column;
  gap: $spacing-3;
}

.attachments {
  display: grid;
  grid-gap: 2rem; // Sets the gap between rows and columns
  // Adjust '10rem' to the desired cell width
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}
