@import "../../styles/index";

.TabBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-bottom: 1.5px solid $grey-300;
  }
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: $spacing-7;
  width: fit-content;
}

.tabButtonContainer {
  &.selected {
    padding-bottom: calc($spacing-2 - 1px);
    border-bottom: 2px solid $blue-500;

    .tabButton {
      color: $blue-500;
    }

    path {
      stroke: $blue-500;
    }
  }

  &:not(.selected) {
    .tabButton {
      color: $grey-600;
    }

    path {
      stroke: $grey-600;
    }
  }
}

.tabButton {
  @include typography("sm", "medium");
  padding: $spacing-2 $spacing-2;
  border-radius: 0.4rem;
  transition: all 0.15s ease-in-out;

  &:not(.selected) {
    color: $grey-600;
  }

  &:hover {
    background-color: $grey-100;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  gap: $spacing-2;
}

.tabButtonIcon {
  width: 1rem;
  height: auto;
}

.actionButtonContainer {
  padding-bottom: $spacing-3;
}
