@import "../../styles/index";

.nib {
  padding: $spacing-1 $spacing-4;
  border-radius: 0.25rem;
  font-size: 13px;
  font-weight: $font-weight-medium;
  width: fit-content;
  height: fit-content;
  cursor: default;

  &.green {
    // TODO: Convert to gradient mixin in colors panel with color as param
    background: linear-gradient(
      145deg,
      lighten($green-200, 13%) 0%,
      $green-200 100%
    );
    color: $green-500;
  }

  &.red {
    background: linear-gradient(
      145deg,
      lighten($red-200, 6%) 0%,
      $red-200 100%
    );
    color: $red-500;
  }

  &.yellow {
    background: linear-gradient(
      145deg,
      lighten($yellow-200, 13.75%) 0%,
      $yellow-200 100%
    );
    color: $yellow-500;
  }

  &.primary {
    background: linear-gradient(
      145deg,
      lighten($blue-200, 7.75%) 0%,
      $blue-200 100%
    );
    color: $blue-500;
  }
}
