@import '../../styles/index';

.Profile {
    padding: 0;
    margin: $spacing-10 auto;
    width: 100%;

    .header, .personalInfo {
        display: flex;
        margin-top: $spacing-8;
        background-color: $grey-25;
        border: solid 1px $grey-200;
        padding: $spacing-6;
        border-radius: 0.6rem;
        justify-content: space-between;
        align-items: flex-start;
    }
}


.profileInfoContainer {
    display: flex;
    gap: $spacing-5;
    align-items: center;
}

.profileImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.25rem;
    height: 3.25rem;
    border: 1px solid $grey-300;
    border-radius: 0.6rem;
    background-color: $grey-50;

    .profileIcon {
        width: 1.1rem;
        height: auto;
    }

}

.profileHeaderInfo {
    h5 {
        font-weight: 500;
        color: $grey-900;
    }

    p {
        color: $grey-600;
    }
}

.personalInfoHeader {
    font-weight: 600;
    font-size: 1.143rem;
    color: $grey-900;
    margin-bottom: $spacing-5;
}

.infoContainer {
    flex-grow: 0.75;
    gap: $spacing-2;
}

.twoColumnContainer {
    display: flex;
    justify-content: space-between;
}

.info {
    margin-bottom: $spacing-5;

    > :first-of-type {
        color: $grey-500;
    }
}