@import '../../styles/index';


.ContractorFeed {
    width: 100%;
    align-self: center;
    display: flex;
    flex-grow: 1;
    width: 100%;
    gap: $spacing-10;
}

.contractorGrid {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: $spacing-5;
}

.contractors {
    margin: $spacing-15 0 0 0;
}


.searchResultsHeader {
    margin-bottom: $spacing-3;
    p {
        font-weight: 400;
        color: $grey-900;
    }
}