$grey-25: #fcfcfd;
$grey-50: #f9fafb;
$grey-100: #f2f4f7;
$grey-200: #eaecf0;
$grey-300: #d0d5dd;
$grey-400: #98a2b3;
$grey-500: #667085;
$grey-600: #475467;
$grey-700: #344054;
$grey-800: #1d2939;
$grey-900: #101828;
$grey-950: #0c111d;

$purple-200: #c8c9e9;

$blue-25: #fcfcfd;
$blue-50: #f8f9fc;
$blue-100: #eaecf5;
$blue-200: #d5d9eb;
$blue-300: #b3b8db;
$blue-400: #717bbc;
$blue-500: #4e5ba6;
$blue-600: #3e4784;
$blue-700: #363f72;
$blue-800: #293056;
$blue-900: #101323;
$blue-950: #0d0f1c;

$red-25: #fffbfa;
$red-50: #fef3f2;
$red-100: #fee4e2;
$red-200: #fecdca;
$red-300: #fda29b;
$red-400: #f97066;
$red-500: #f04438;
$red-600: #d92d20;
$red-700: #b42318;
$red-800: #912018;
$red-900: #7a271a;
$red-950: #55160c;

$green-25: #f6fef9;
$green-50: #ecfdf3;
$green-100: #dcfae6;
$green-200: #abefc6;
$green-300: #75e0a7;
$green-400: #47cd89;
$green-500: #17b26a;
$green-600: #079455;
$green-700: #067647;
$green-800: #085d3a;
$green-900: #074d31;
$green-950: #053321;

$yellow-25: #fffcf5;
$yellow-50: #fffaeb;
$yellow-100: #fef0c7;
$yellow-200: #fedf89;
$yellow-300: #fec84b;
$yellow-400: #fdb022;
$yellow-500: #f79009;
$yellow-600: #dc6803;
$yellow-700: #b54708;
$yellow-800: #93370d;
$yellow-900: #7a2e0e;
$yellow-950: #4e1d09;
