 @import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  width: 100%;
  background-color: $background-color;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  font-family: inherit;
}

input[type=button] {
  all: unset;
}