@import "./spacing";
@import "./colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 100%;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  font-family: inherit;
}

@mixin card {
  padding: $spacing-6;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid $grey-200;
  border-radius: 0.5rem;
}

.divider {
  height: 1px;
  background-color: $grey-200;
  width: 100%;
}
