$spacing-1: 0.25rem;
$spacing-2: 0.5rem;
$spacing-3: 0.75rem;
$spacing-4: 1rem;
$spacing-5: 1.25rem;
$spacing-6: 1.5rem;
$spacing-7: 2rem;
$spacing-8: 2.5rem;
$spacing-9: 3rem;
$spacing-10: 4rem;
$spacing-11: 5rem;
$spacing-12: 6rem;
$spacing-13: 8rem;
$spacing-14: 10rem;
$spacing-15: 12rem;
$spacing-16: 14rem;
$spacing-17: 16rem;


$container-sm: 40rem;
$container-md: 48rem;
$container-lg: 64rem;
$container-xl: 80rem;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-widescreen: 1280px;