@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');
@import './variables';

body {
  font-family: Inter, Roboto, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
}

h1, h2, h3, h4 {
  color: $grey-900;
}

h1 {
  font-size: 5em;
  line-height: 1.2;
}

h2 {
  font-size: 2.8em;
  line-height: 1.2
}

h3 {
  font-size: 2em;
  line-height: 1.2;
}

h4 {
  font-size: 1.5em;
  line-height: 1.2;
}

a {
  font-weight: 500;
  color: $grey-900;
}

a:hover {
  color: $grey-950;
}

p {
  color: $grey-900;

}