@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');
@import './variables';

html {
  font-size: 14px;
}

body {
  font-family: Inter, Roboto, Helvetica, sans-serif;
  line-height: 1.4;
  font-weight: normal;
}

h1, h2, h3, h4 {
  color: $grey-800;
  font-weight: bold;
}

h1 {
  font-size: 3.3rem;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
  line-height: 1.2;
}

h3 {
  font-size: 1.571rem;
  line-height: 1.2;
}

h4 {
  font-size: 1.429rem;
  line-height: 1.2;
}

h5 {
  font-size: 1.286rem;
  line-height: 1.2;
}

a {
  font-weight: 500;
  color: $grey-900;
}

a:hover {
  color: $grey-950;
}

p {
  color: $grey-900;

}

@mixin typography-large-regular {
  font-family: Inter;
  font-size: 1.286rem;
  color: $grey-900;
}

@mixin typography-small-regular {
  font-family: Inter;
  font-size: $font-size-sm;
  color: $grey-900;
}

@mixin typography-small-medium {
  font-family: Inter;
  font-size: $font-size-sm;
  color: $grey-900;
  font-weight: 500;
}