

$background-color: #FBFCFE;


$grey-200: #E9EBF3;
$grey-300: #DEE1ED;
$grey-600: #C8CDE1;
$grey-800: #787B87;
$grey-1000: #3c3d43;
$grey-1100: #28292d;


$blue-100: #EAEDF8;
$blue-300: #ADB7E2; 
$blue-400: #8394D3;
$blue-600: #314CB6;
$blue-1100: #0F1737;


$blue-accent: #1943E6;