

$background-color: #FAFAFA;

$grey-25: #FCFCFD;
$grey-50: #F9FAFB;
$grey-100: #F2F4F7;
$grey-200: #EAECF0;
$grey-300: #D0D5DD;
$grey-400: #98A2B3;
$grey-500: #667085;
$grey-600: #475467;
$grey-700: #344054;
$grey-800: #1D2939;
$grey-900: #101828;
$grey-950: #0C111D;

$purple-200: #C8C9E9;

$blue-25: #FAFBFF;
$blue-50: #F5F7FF;
$blue-100: #EBEFFF;
$blue-200: #D7DFFE;
$blue-300: #BBC8FB;
$blue-400: #92A6F6;
$blue-500: #778EED;
$blue-600: #5670D9;
$blue-700: #415BC6;
$blue-800: #384C9E;
$blue-900: #303F7D;
$blue-950: #1C295F;

$red-25: #FFFBFA;
$red-50: #FEF3F2;
$red-100: #FEE4E2;
$red-200: #FECDCA;
$red-300: #FDA29B;
$red-400: #F97066;
$red-500: #F04438;
$red-600: #D92D20;
$red-700: #B42318;
$red-800: #912018;
$red-900: #7A271A;
$red-950: #55160C;

$green-25: #F6FEF9;
$green-50: #ECFDF3;
$green-100: #DCFAE6;
$green-200: #ABEFC6;
$green-300: #75E0A7;
$green-400: #47CD89;
$green-500: #17B26A;
$green-600: #079455;
$green-700: #067647;
$green-800: #085D3A;
$green-900: #074D31;
$green-950: #053321;


$spacing-1: 0.2857rem;
$spacing-2: 0.5714rem;
$spacing-3: 0.8571rem;
$spacing-4: 1.1429rem;
$spacing-5: 1.4286rem;
$spacing-6: 1.7143rem;
$spacing-7: 2rem;
$spacing-8: 2.2857rem;
$spacing-9: 2.5714rem;
$spacing-10: 2.8571rem;
$spacing-11: 3.1429rem;
$spacing-12: 3.4286rem;
$spacing-13: 3.7143rem;
$spacing-14: 4rem;
$spacing-15: 4.2857rem;
$spacing-16: 4.5714rem;
$spacing-17: 4.8571rem;
$spacing-18: 5.1429rem;
$spacing-19: 5.4286rem;
$spacing-20: 5.7143rem;
$spacing-21: 6rem;


$font-size-h1: 3.812rem;
$font-size-h2: 3.062rem;
$font-size-h3: 2.438rem;
$font-size-h4: 1.938rem;
$font-size-h5: 1.562rem;
$font-size-lg: 1.143rem;
$font-size-sm: 0.857rem;
$font-size-xs: 0.624rem;