@import "../../../styles/index";

.FileCard {
  @include card;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-3 $spacing-4;
  transition: all 0.15s ease-in-out;
}

.clickable:hover {
  cursor: pointer;
  background-color: $grey-25;
}

.fileLeft {
  display: flex;
  flex-direction: row;
  gap: $spacing-4;
  align-items: center;
}

.fileInfo {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 1;
}

.fileName {
  @include typography("sm", "medium");
  color: $grey-700;
}

.fileSize {
  @include typography("sm", "regular");
  color: $grey-600;
}
