@import './../../../styles/index';


.primary, .primary-alt, .secondary, .tertiary {
  font-weight: 500;
  border-radius: 0.5rem;
  padding: $spacing-2 $spacing-4;
  height: fit-content;
  display: flex;
  justify-content: center;
  gap: $spacing-2;
  align-items: center;
  transition: background-color 0.3s ease-in-out, 
              box-shadow 0.4s ease-in-out, 
              border-color 0.4s ease-in-out;
}


.icon {
  height: 0.8rem;
  width: auto;
  
  path {
    stroke-width: 0.14rem;
  }
}

.primary {
  background-color: $blue-600;
  border: solid 1.5px $blue-700;
  color: white;
  
  .icon path {
    stroke: white;
  }

  &:hover {
    background-color: $blue-700;
    border-color: $blue-800;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  }

  &:active {
    box-shadow: none;
    background-color: $blue-900;
  }
}

.secondary {
  background-color: none;
  border: solid 1px $grey-300;
  color: $grey-800;

  .icon path {
    stroke: $grey-800;
  }

  &:hover {
    background-color: $grey-100;
    border-color: $grey-300;
  }

  &:active {
    background-color: darken($grey-100, 5%);
  }
}

.tertiary {
  background-color: none;
  color: $grey-900;

  .icon path {
    stroke: $grey-900;
  }

  &:hover {
    background-color: $grey-200;
  }

  &:active {
    background-color: $grey-300;
  }

}
