@import '../../styles/index';

.CreateUserForm {
  flex-grow: 1;
  display: flex;
  width: 100%;
  min-width: 400px;
  max-width: 500px;
  align-self: center;
}

.formContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 460px;
  max-width: 550px;
}