@import '../../styles/index';


$heading-height: 3rem;

.CreateUser {
  width: 100%;
  margin: auto;
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.createUserSection {
  text-align: left;
  width: 100%;
  display: inline-flex;
  align-content: center;
  margin-bottom: 3rem;

  &:not(.hidden) {
    .stepContainer {
      background-color: $blue-600;
    }

    h4 {
      color: white;
    }

  }

  .stepContainer {
    width: $heading-height;
    height: $heading-height;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    margin-right: 1.75rem;
  }
}

.createUserContent {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 45rem;
}

.titleContainer {
  height: $heading-height;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.buttonSection {
  display: flex;
  gap: 2.2rem;
}


.hidden {
  .createUserContent {
    display: none;
  }

  .stepContainer {
    border: $grey-900 solid 2px;
  }

  h4, h3 {
    color: $grey-900;
  }
}


.userInputContainer {
  display: flex;
  gap: 1rem;
}

.userInputContainer:first-of-type {
  margin-bottom: 2rem;
}

.lastContainer {
  margin-top: 2rem;
}

.submitFormSection {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: $spacing-7;
  margin: $spacing-7 auto 0 auto;
  
  .submitFormDivider {
    background-color: $grey-300;
    height: 2px;
    width: 100%;
    margin-bottom: $spacing-2;
  }
}