@import "../../styles/index";

.Form {
  display: flex;
  flex-direction: column;
  gap: $spacing-4;
  width: 100%;
  max-width: 40rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: $spacing-2;
}
