@import '../../styles/index';


.ProjectFeed {
    width: 100%;
    padding: 0% 5%;
    align-self: center;
    display: flex;
    flex-grow: 1;
    width: 100%;
    gap: $spacing-10;
}

.projects {
    margin: $spacing-15 0 0 0;
}

.projectGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 330px);
    grid-gap: $spacing-10;
    width: 100%;
}

.searchResultsHeader {
    margin-bottom: $spacing-3;
    p {
        font-weight: 400;
        color: $grey-900;
    }
}
