@import '../../styles/index';

.NavBar {
    padding: $spacing-4 $spacing-10;
    border-bottom: solid 1px $grey-200;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}


.leftContainer, .middleContainer, .rightContainer {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: $spacing-7;
}

.leftContainer {
    justify-content: left;
}

.middleContainer {
    justify-content: center;
}

.rightContainer {
    justify-content: right;
}