@import '../../styles/index';


.decorativeGridLeft, .decorativeGridRight {
    width: 40%;
    height: auto;
    max-width: 900px;
    line {
        stroke: $grey-300;
    }
}

.decorativeGridLeft {
    position: absolute;
    z-index: -1;
    left: -10%;
}

.decorativeGridRight {
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;

}

.Landing {
    display: flex;
    flex-direction: column;
    gap: $spacing-20;
    max-width: 1600px;
    margin: 0 auto;
}



.heroSection {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 15rem;
    margin-top: 10rem;

    h1 {
        color: $blue-950;
        font-weight: 600;
    }

    p {
        margin-top: $spacing-2;
        font-size: $font-size-lg;
        color: $grey-500;
        font-weight: 400;
    }

    .heroLeft {
        display: flex;
        flex-direction: column;
        gap: $spacing-4;
        width: 100%;
        max-width: 600px;
    }
}

.heroImage {
    width: 100%;
    box-shadow: 73px 91px 47px rgba(0, 0, 0, 0.01), 41px 51px 39px rgba(0, 0, 0, 0.02), 18px 23px 29px rgba(0, 0, 0, 0.04), 5px 6px 16px rgba(0, 0, 0, 0.04);
    width: 80%;
    max-width: 500px;
    border-radius: 1rem;
}


.sectionCaption {
    color: $blue-700;
    font-weight: 500;

}