@import "../../styles/index";

.tableContentContainer {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 0.75rem;
  border: 1px solid $grey-200;

  table {
    border-collapse: collapse; 
    overflow: hidden;
  }
}

.columnTitleRow {
  height: 2.5rem;
  background-color: $grey-50;
}

.regularRow {
  height: 3rem;
  @include typography("sm", "medium");
  color: $grey-800;

  &:not(:last-child) td {
    border-bottom: 1px solid $grey-200;
  }

  &:hover {
    background-color: $grey-100;
  }
}

.columnTitleCell {
  @include typography("sm", "medium");
  padding: 0 $spacing-6;
  color: $grey-800;
  border-bottom: 1px solid $grey-200;
  text-align: start;
}

.tableCell {
  padding: 0 $spacing-6;
}
