
nav {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 5rem;
  margin: 0 auto;
  border-bottom: 1.5px solid $grey-200;
  align-items: center;
  background-color: white;

  div {
    display: inherit;
    align-items: center;
  }

  img {
    height: 0.8rem;
  }
}
