@import "../../../../styles/index";

.container {
  display: flex;
  flex-direction: column;
}

.questionContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.question {
  @include typography("lg", "medium");
}

.answerClosed {
  max-height: 0;
  opacity: 0;
  transform: translateY(-10px);
  overflow: hidden;
}

.answerOpen {
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.answer {
  color: $grey-700;
  padding-top: $spacing-4;
}

.chevronContainer {
  // Optional: Adjust size, color, etc. of the Chevron icon here
}

.chevronClosed,
.chevronOpen {
  transition: transform 0.3s ease-in-out;
}

.chevronOpen {
  transform: rotate(180deg);
}
