@import "../../../../styles/index";

.tablePaginationContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $spacing-2 $spacing-6;
  border-top: 1px solid $grey-200;
}

.buttonsContainer {
  display: flex;
  gap: $spacing-2;
}

.pageCounter {
  @include typography("xs", "medium");
  color: $grey-800;
}
