@import './../../styles/variables';


.primary, .primary-alt, .secondary, .tertiary {
  font-weight: 600;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  transition: background-color 0.3s ease-in-out, 
              box-shadow 0.4s ease-in-out, 
              border-color 0.4s ease-in-out;
}

.primary {
  background-color: $blue-accent;
  border: solid 1.5px darken($blue-accent, 10%);
  color: white;

  &:hover {
    background-color: darken($blue-accent, 10%);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  }

  &:active {
    box-shadow: none;
    background-color: darken($blue-accent, 30%);
  }
}

.secondary {
  background-color: none;
  border: solid 1.5px $grey-300;
  color: $grey-1100;

  &:hover {
    background-color: $grey-200;
    border-color: darken($grey-300, 10%);
  }

  &:active {
    background-color: darken($grey-200, 10%);
  }
}

.tertiary {
  background-color: none;
  color: $grey-1100;

  &:hover {
    background-color: $grey-200;
  }

  &:active {
    background-color: $grey-300;
  }

}