@import "../shared";

.CheckboxGroup {
  @include inputGroup;
}

.checkboxGroupHeader {
  @include inputGroupHeader;
}

.checkboxOptions {
  @include inputGroupOptions;
}

.checkboxRow {
  @include inputRow;
}

.checkboxLabel {
  @include typography("sm", "medium");
  color: $grey-700;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: white;
  /* Not removed via appearance */
  margin: 0;

  &:not(:checked) {
    border: 0.15em solid $grey-400;
  }

  &:checked {
    background-color: $blue-100;
    border: 0.15em solid $blue-500;
  }

  font: inherit;
  color: $blue-500;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid $blue-500;
  border-radius: 0.35em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;

  &:hover {
    cursor: pointer;
  }
}

input[type="checkbox"]::before {
  content: "";
  width: 0.55em;
  height: 0.55em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em $blue-500;
  /* Windows High Contrast Mode */
  background-color: white;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: 2.5px solid $blue-200;
}

input[type="checkbox"]:disabled {
  color: $grey-400;
  cursor: not-allowed;
}
