@import '../../../styles/index';

.MediaInput {
  max-width: 32rem;
  width: 100%;
  position: relative;
  border: dashed 2px $grey-300;
  background-color: white;
  border-radius: 1rem;
  transition: 0.3s ease-in-out;
  padding: $spacing-3 $spacing-5;
  display: flex;
  flex-direction: column;
  gap: $spacing-3;
  align-items: center;

  &:hover {
    background-color: $blue-50;

    .iconContainer {
      background-color: $blue-300;
    }
  }

  .iconContainer {
    background-color: $blue-100;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding: $spacing-3;
    transition: 0.5s ease-in-out;

  }

  .icon {
    width: 2rem;
    height: fit-content;
    stroke: $blue-900;
  }

  &:hover {
    border-color: $blue-400;
  }


  input {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  input::file-selector-button {
    display: block;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }

  input::file-selector-text {
    display: none;
  }

  p {
    font-weight: 500;
    color: $grey-600;
  }
}

.errorText {
  margin-top: $spacing-3;
  color: $red-600;
  font-weight: 500;
}

.imgPreviewContainer {
  margin-top: $spacing-5;
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-4;
  grid-template-columns: repeat(5, 1fr);
  max-width: 32rem;

  .imgPreview {
    width: 6rem;
    height: 4rem;
    border-radius: 0.5rem;
  }

  .imgContainer {
    position: relative;
  }

  .closeIcon {
    stroke: $grey-900;
    width: 0.4rem;
  }

  .deleteImage {
    background-color: $grey-50;
    padding: 0.25rem 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    position: absolute;
    top: 9%;
    left: 73%;
    transition: 0.1s ease-in-out;
  }

  .deleteImage:hover {
    background-color: $red-500;
    
    .closeIcon {
      stroke: white;
    }
  }
}