@import "../../../styles/index";

.metricsCards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dashboardContainer {
  display: flex;
  flex-direction: column;
  gap: $spacing-11;
}
