@import "../../styles/index";

.Header {
  display: flex;
  justify-content: space-between;
  justify-items: flex-start;
  margin-bottom: $spacing-6;
}

.Content {
  display: flex;
  flex-direction: column;
  gap: $spacing-6;
}
