@import '../../styles/index';

.twoColumnInput, .twoColumnInputStaggered {
  display: flex;
  gap: $spacing-5;
}


.formInputContainer {
  display: flex;
  flex-direction: column;
  gap: $spacing-10;
  min-width: 34rem;
}

.twoColumnInputStaggered {
  > :last-child {
    flex: 0 0 20ch;
  }

}