@import "../../styles/index";

.PMLayout {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.rightSection {
  flex-grow: 1;
}

.content {
  padding: $spacing-9;
}

.navRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $spacing-7;
}
