@import "../../../../styles/index";

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: $spacing-10;
  background-color: $blue-100;
}

.topContent {
  display: flex;
  flex-direction: column;
  gap: $spacing-4;
}

.copyrightContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: $spacing-10;
  border-top: 1px solid $grey-400;
  @include typography("sm", "regular");
}
