@import "../../styles/index";

.sidebarLink {
  @include typography("sm", "medium");
  color: $grey-600;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-2 $spacing-3;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease-in-out;

  &.wide {
    width: 100%;
  }

  &:not(.wide) {
    width: fit-content;
  }

  .linkContent {
    display: flex;
    flex-direction: row;
    gap: $spacing-2;
    align-items: center;
  }

  .sidebarIcon {
    width: 1rem;
    path {
      stroke: $grey-600;
    }
  }

  &:hover {
    background-color: $grey-200;
  }

  &.selected {
    background-color: $blue-100;
    color: $blue-700;

    .sidebarIcon {
      width: 1rem;
      path {
        stroke: $blue-700;
      }
    }
  }
}
