@import '../../styles/index';

.Filter {
    background-color: white;
    border-radius: 0.6rem;
    height: fit-content;
    border: solid 1px $grey-200;
    margin: $spacing-15 0 0 0;
    display: flex;
    flex-direction: column;
    width: fit-content;

    .filterHeaderContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $spacing-4 $spacing-8;
        border-bottom: solid 1px $grey-200;

        .filterHeader {
            font-size: $font-size-lg;
            font-weight: 600;
            color: $grey-800;
        }
    }
    
    .search {
        flex-grow: 1;
        width: 100%;
    }

    .filterItem {
        flex-grow: 0;
        min-width: 20rem;
        padding: $spacing-4 $spacing-8;
        
    }

    .filterItem:not(:last-of-type) {
        border-bottom: solid 1px $grey-200;
    }

}

.hidden {
    display: none;
}

.radioSection {
    display: flex;
    flex-direction: column;
    gap: $spacing-1;
    margin-top: $spacing-2;
}

.itemHeader {
    font-weight: 600;
    color: $grey-800;

}

.filterItemHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filterContent {
    margin-top: $spacing-3;
}